<h2 mat-dialog-title>O que eu fiz no dia: {{data?.date | date: 'dd/MM/yyyy'}}</h2>


<mat-dialog-content class="mat-typography">
  <ng-container *ngIf="diaInfo(); else noData">
    <ul>
      <li *ngFor="let fiz of diaInfo()?.oQueEuFizHoje; trackBy: trackByIndex">
        {{ fiz }}
      </li>
    </ul>
  </ng-container>

  <ng-template #noData>
    <p>Nenhuma informação disponível para esta data.</p>
  </ng-template>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>Fechar</button>
</mat-dialog-actions>
